{% if medias|length %}
    {% set count = 0 %}
    {% for media in medias %}
        <div class="col-md-2 col-sm-3 col-xs-3 fn-media-list-item-{{ media.id }} media-list-item">
            {#            <div class="thumbnail fn-media-thumbnail {{ loop.index == '1' ? 'selected':'' }}">#}
            <div class="thumbnail fn-media-thumbnail">
                {% if 'image' not in media.filetype %}
                    {% set classText  %}
                        class="image_picker_image image_picker_image_{{ media.id }}" data-id="{{ media.id }}"
                        data-title="{{ media.title }}"
                        data-createdat="{{ media.createdAt|date('Y-m-d') }}"
                        data-url="{{ media.url }}"
                        data-caption="{{ media.caption }}"
                        data-description="{{ media.description }}"
                        data-altname="{{ media.altName }}"
                        data-filename="{{ media.filename }}"
                        data-filetype="{{ media.filetype }}"
                        data-options="{{ media.jsonOptions }}"
                    {% endset %}
                {% endif %}
                {% if 'image' in media.filetype %}
                    <img class="image_picker_image image_picker_image_{{ media.id }}" data-id="{{ media.id }}"
                         src="{{ media.thumbnailUrl ? asset(media.thumbnailUrl):asset(media.url) }}" data-title="{{ media.title }}"
                         data-createdat="{{ media.createdAt|date('Y-m-d') }}"
                         data-url="{{ media.url }}"
                         data-caption="{{ media.caption }}"
                         data-description="{{ media.description }}"
                         data-altname="{{ media.altName }}"
                         data-filename="{{ media.filename }}"
                         data-options="{{ media.jsonOptions }}"
                         data-filetype="{{ media.filetype }}"
                    >
                {% elseif 'audio' in media.filetype %}
                    <div {{ classText }}>
                        <span class="glyphicon glyphicon-music media-icon-small"></span>
                        {{ media.filename }}
                    </div>
                {% elseif 'video' in media.filetype %}
                    <div {{ classText }}>
                        <span class="glyphicon glyphicon-film media-icon-small"></span>
                        {{ media.filename }}
                    </div>
                {% else %}
                    <div {{ classText }}>
                        <span class="glyphicon glyphicon-file media-icon-small"></span>
                        {{ media.filename }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% set count = count+1 %}
        {% if count%6 == 0 %}
            <div class="clearfix"></div>
        {% endif %}
    {% endfor %}
    {% if currentPage != totalPage %}
        <button class="loadMore clearfix" data-page="{{ currentPage }}">load more</button>
    {% endif %}
{% else %}
    No media available.
{% endif %}
